pkgbase = sonic-silver
	pkgdesc = Highly customizable binary Window Decoration, Application Style and Global Theme plugin for SonicDE.
	pkgver = 6.7.4.4
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-silver
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = frameworkintegration
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = kcmutils
	depends = kcolorscheme
	depends = kconfig
	depends = ki18n
	depends = kiconthemes
	depends = kwidgetsaddons
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = sonic-decoration
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-silver-icons
	depends = sonic-frameworks-windowsystem
	depends = xdg-utils
	provides = breeze
	provides = sonic-silver-theme
	conflicts = breeze
	conflicts = sonic-silver-theme
	source = sonic-silver-6.7.4.4.tar.gz::https://github.com/Sonic-DE/sonic-silver/archive/refs/tags/6.7.4.4.tar.gz
	sha256sums = 44cd5ba5a9355d6445847cea24d70092defdcf45aa51b998c5e4af3cbc83496e

pkgname = sonic-silver
