pkgbase = sonic-breeze
	pkgdesc = Highly customizable binary Window Decoration, Application Style and Global Theme plugin for SonicDE.
	pkgver = 6.7.4.7
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-breeze
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = frameworkintegration
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = kcmutils
	depends = kcolorscheme
	depends = kconfig
	depends = ki18n
	depends = kiconthemes
	depends = kwidgetsaddons
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = sonic-decoration
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-silver-icons
	depends = sonic-frameworks-windowsystem
	depends = sonic-silver
	depends = xdg-utils
	conflicts = breeze-cursors
	source = sonic-breeze-6.7.4.7.tar.gz::https://github.com/Sonic-DE/sonic-breeze/archive/refs/tags/6.7.4.7.tar.gz
	sha256sums = a981e72def36096a2da425060e7ee0ea55644bb773495bf9899ee3609764b5c5

pkgname = sonic-breeze
