pkgbase = sonic-frameworks-silver-icons
	pkgdesc = Silver icon theme
	pkgver = 6.29.0.1
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-silver-icons
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-3.0-or-later
	license = LGPL-2.1-only
	makedepends = python-lxml
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = qt6-base
	provides = breeze-icons
	conflicts = breeze-icons
	source = sonic-frameworks-silver-icons-6.29.0.1.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-silver-icons/archive/refs/tags/6.29.0.1.tar.gz
	sha256sums = af68b35b4f08ec6a83d8522ffffa840bdda71f6ef877d109265225e53b3c1250

pkgname = sonic-frameworks-silver-icons
